.DS_Store
.env
.env.production
.build-*/
tsconfig.tsbuildinfo

/.turbo
/docs
/node_modules
/pnpm-exec-summary.json
/scripts/fixtures/

/src/*/.tap
/src/*/.tshy-build
/src/*/.turbo
/src/*/dist
/src/*/docs
/src/*/node_modules
/src/*/scripts/fixtures/
/src/*/vltpkg-*.tgz
/src/*/local-store
/src/*/.wrangler
/src/*/.dev.vars
/src/*/*.log

/infra/*/.tap
/infra/*/.tshy-build
/infra/*/.turbo
/infra/*/dist
/infra/*/docs
/infra/*/node_modules
/infra/*/scripts/fixtures/

/infra/benchmark/.artifacts

/www/*/.tap
/www/*/.astro
/www/*/.vercel/
/www/*/.turbo
/www/*/dist
/www/*/node_modules
/www/*/scripts/fixtures/
