/dist
/docs
/example
/node_modules
/pnpm-lock.yaml
/vlt-lock.json
/scripts/fixtures
/tap-snapshots
/test/fixtures/**/*.json
/.*/

/src/*/.*/
/src/*/dist
/src/*/docs
/src/*/example
/src/*/node_modules
/src/*/scripts/fixtures
/src/*/tap-snapshots
/src/*/test/fixtures/**/*.json
/src/*/src/assets/public/dist

/infra/*/.*/
/infra/*/dist
/infra/*/docs
/infra/*/example
/infra/*/node_modules
/infra/*/scripts/fixtures
/infra/*/tap-snapshots
/infra/*/test/fixtures/**/*.json

/www/*/.*/
/www/*/dist
/www/*/docs
/www/*/example
/www/*/node_modules
/www/*/scripts/fixtures
/www/*/tap-snapshots
/www/*/test/fixtures/**/*.json

/www/docs/src/content/docs/packages/
/www/docs/tsconfig.typedoc-workspaces.json
