.open-api-client-button {
  display: none !important;
}

:root {
  --scalar-text-decoration: underline;
}

.light-mode {
  --scalar-background-1: #fff;
  --scalar-background-2: #f7f7f7;
  --scalar-background-3: #e7e7e7;
  --scalar-background-accent: #8ab4f81f;

  --scalar-color-1: #2a2f45;
  --scalar-color-2: #757575;
  --scalar-color-3: #8e8e8e;

  --scalar-color-accent: var(--scalar-color-1);
  --scalar-border-color: rgba(0, 0, 0, 0.1);
}

.dark-mode {
  --scalar-background-1: #000;
  --scalar-background-2: #0f0f0f;
  --scalar-background-3: #1d1d1d;

  --scalar-color-1: rgba(255, 255, 255, 0.9);
  --scalar-color-2: rgba(255, 255, 255, 0.62);
  --scalar-color-3: rgba(255, 255, 255, 0.44);

  --scalar-color-accent: var(--scalar-color-1);
  --scalar-background-accent: #3ea6ff1f;

  --scalar-border-color: rgba(255, 255, 255, 0.15);
}

/* Document Sidebar */
.light-mode .t-doc__sidebar,
.dark-mode .t-doc__sidebar {
  --scalar-sidebar-background-1: var(--scalar-background-1);
  --scalar-sidebar-color-1: var(--scalar-color-1);
  --scalar-sidebar-color-2: var(--scalar-color-2);
  --scalar-sidebar-border-color: var(--scalar-border-color);

  --scalar-sidebar-item-hover-background: var(--scalar-background-2);
  --scalar-sidebar-item-hover-color: currentColor;

  --scalar-sidebar-item-active-background: var(--scalar-background-2);
  --scalar-sidebar-color-active: var(--scalar-color-1);

  --scalar-sidebar-search-background: transparent;
  --scalar-sidebar-search-color: var(--scalar-color-3);
  --scalar-sidebar-search-border-color: var(--scalar-border-color);
}

/* advanced */
.light-mode {
  --scalar-color-green: #069061;
  --scalar-color-red: #ef0006;
  --scalar-color-yellow: #edbe20;
  --scalar-color-blue: #0082d0;
  --scalar-color-orange: #fb892c;
  --scalar-color-purple: #5203d1;

  --scalar-button-1: rgba(0, 0, 0, 1);
  --scalar-button-1-hover: rgba(0, 0, 0, 0.8);
  --scalar-button-1-color: rgba(255, 255, 255, 0.9);
}

.dark-mode {
  --scalar-color-green: #00b648;
  --scalar-color-red: #dc1b19;
  --scalar-color-yellow: #ffc90d;
  --scalar-color-blue: #4eb3ec;
  --scalar-color-orange: #ff8d4d;
  --scalar-color-purple: #b191f9;

  --scalar-button-1: rgba(255, 255, 255, 1);
  --scalar-button-1-hover: rgba(255, 255, 255, 0.9);
  --scalar-button-1-color: black;
}

/* custom stuff for vlt */
.introduction-section {
  position: static !important;
}

.introduction-section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: url('/public/images/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
  mask-image: linear-gradient(135deg, transparent 60%, black 100%);
}

.dark-mode .introduction-section:before {
  filter: invert(1);
  opacity: 0.4;
}

.introduction-section .section-columns {
  position: relative;
}

.introduction-description table,
.introduction-description table tbody,
.introduction-description table tbody tr {
  display: flex !important;
  overflow: hidden !important;
}

.introduction-description table {
  width: 90% !important;
  border: none !important;
  box-shadow: none !important;
}

.introduction-description table tbody,
.introduction-description table tbody tr {
  width: 100% !important;
  border: none !important;
}

.introduction-description table tbody {
  flex-wrap: wrap !important;
}

.introduction-description table td {
  padding: 0 !important;
  width: 33.3333% !important;
  display: flex !important;
  border: none !important;
}

.introduction-description table a {
  box-sizing: border-box !important;
  padding: 0 !important;
  width: 100% !important;
  display: block !important;
  outline: none !important;
  border: none !important;
  width: 100% !important;
  height: 65px !important;
  text-indent: -9999px !important;
  white-space: nowrap !important;
  background-size: 60px auto !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  transition: transform 0.25s !important;
}

.dark-mode .introduction-description table a {
  filter: invert(1) !important;
}

.introduction-description table a:hover {
  transform: scale(1.25) !important;
}

.introduction-description table a[alt='vlt'] {
  background-image: url('/public/images/clients/logo-vlt.png') !important;
}

.introduction-description table a[alt='npm'] {
  background-image: url('/public/images/clients/logo-npm.png') !important;
}

.introduction-description table a[alt='yarn'] {
  background-image: url('/public/images/clients/logo-yarn.png') !important;
}

.introduction-description table a[alt='pnpm'] {
  background-image: url('/public/images/clients/logo-pnpm.png') !important;
}

.introduction-description table a[alt='deno'] {
  background-image: url('/public/images/clients/logo-deno.png') !important;
}

.introduction-description table a[alt='bun'] {
  background-image: url('/public/images/clients/logo-bun.png') !important;
}

.scalar-app .markdown [alt='license'] summary:after {
  top: 2px;
}

.sidebar-heading-link {
  font-size: 11px;
}

[alt='features'],
[alt='resources'],
[alt='trademark-disclaimer'],
[alt='license'],
[alt='license'] summary {
  font-size: 12px !important;
  line-height: 180% !important;
}

[alt='license'] {
  padding: 5px 20px !important;
  font-family: courier !important;
}

[alt='license'] summary {
  padding: 0 0 0 20px !important;
  margin: 0 0 0 -20px !important;
  font-family:
    Inter,
    -apple-system,
    'system-ui',
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif !important;
}
